<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h2><%= shelter.name %></h2>
  <%= link_to "Edit Shelter" , "/shelters/#{shelter.id}/edit"%>

<% end %>
  <h3> <a href="/shelters/new">Add New Shelter</h3>
